<style>

.gaegu-regular {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
        .mea-culpa-regular {
  font-family: "Mea Culpa", cursive;
  font-weight: 400;
  font-style: normal;
}
        .playpen-sans-uniquifier {
  font-family: "Playpen Sans", cursive;
  font-weight: 400;
  font-style: normal;
}

.im-fell-english-regular {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
}

.im-fell-english-regular-italic {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: italic;
}
    
    body {
    background-image: url("/notr/blur_edges(4).png");
        background-repeat: no-repeat;
        background-size: cover;
    width: 1920px;
    height: 1080px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
}

#theofficejim {
    position: relative;
    margin-left: 250px;
    width: 1400px;
}

#text {
    position: absolute;
    top: 200px;
    left: 725px;
    font-size: 30px;
    font-family: IM Fell English;
    transform: rotate(-3deg);
    color: #6e4432;
    line-height: 45px;
}
